################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mission4/FileContentIndex/39043e7d-4723-408b-92f7-42e9fe367955.vsidx
/.vs/Mission4/FileContentIndex/a9cf15aa-f097-4f98-b115-4b1c50502459.vsidx
